{% extends 'base.html' %}

{% block content %}

<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Welcome to NMCS</h1>
    <p class="col-md-8 fs-4">
      Building faith, leadership and community among students.
    </p>
  </div>
</div>

<h2 class="mb-4">Our Leadership</h2>

<div class="row">

{% for leader in leaders %}

<div class="col-md-4 mb-4">
  <div class="card shadow">
    <img src="{{ leader.profile_picture.url }}" class="card-img-top">

    <div class="card-body">
      <h5 class="card-title">{{ leader.full_name }}</h5>
      <p class="text-muted">{{ leader.position }}</p>
      <p>{{ leader.message|truncatewords:20 }}</p>
    </div>
  </div>
</div>

{% endfor %}

</div>

<!---Members-->
<h2 class="mt-5 mb-4">Our Members</h2>

<div class="row">

{% for member in members %}

<div class="col-md-3 mb-4">

<div class="card text-center shadow">

<img src="{{ member.profile_picture.url }}" class="card-img-top">

<div class="card-body">
<h6>{{ member.full_name }}</h6>
</div>

</div>

</div>

{% endfor %}

</div>


{% endblock %}

